In [133]:
#Imports
import sqlite3
from sqlite3 import Error

import pandas as pd
from datetime import datetime
import os

## Create Database and Tables

In [134]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except Error as e:
        print(e)
 
    return conn
 

def create_table(conn, create_table_sql):
    """ create a table from the create_table_sql statement
    :param conn: Connection object
    :param create_table_sql: a CREATE TABLE statement
    :return:
    """
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)

def main():
    database = r"active_learning_20191210.db"
 
    sql_create_training_log = """ CREATE TABLE IF NOT EXISTS training_log (
                                        training_id integer PRIMARY KEY,
                                        training_time datetime,
                                        file_path string,
                                        from_scratch boolean
                                    ); """
 
    sql_create_image_log = """ CREATE TABLE IF NOT EXISTS image_log (
                                        image_id integer PRIMARY KEY,
                                        file_path string,
                                        time_uploaded datetime
                                    ); """
 
    sql_create_map_log = """ CREATE TABLE IF NOT EXISTS map_log (
                                        map_id integer PRIMARY KEY,
                                        file_path string,
                                        time_created datetime,
                                        is_manual boolean
                                    ); """
 
    sql_create_train_to_image_log = """CREATE TABLE IF NOT EXISTS train_to_image_log (
                                    entry_id integer PRIMARY KEY,
                                    image_id integer,
                                    training_id integer,
                                    FOREIGN KEY (image_id) REFERENCES image_log (image_id),
                                    FOREIGN KEY (training_id) REFERENCES training_log (training_id)
                                );"""
    
    sql_create_image_to_map_log = """CREATE TABLE IF NOT EXISTS image_to_map_log (
                                    entry_id integer PRIMARY KEY,
                                    image_id integer,
                                    map_id integer,
                                    FOREIGN KEY (image_id) REFERENCES image_log (image_id),
                                    FOREIGN KEY (map_id) REFERENCES map_log (map_id)
                                );"""
 
    # create a database connection
    conn = create_connection(database)
 
    # create tables
    if conn is not None:
        # create training_log
        create_table(conn, sql_create_training_log)
 
        # create image_log
        create_table(conn, sql_create_image_log)
        
        # create map_log
        create_table(conn, sql_create_map_log)
        
        # create train_to_image_log
        create_table(conn, sql_create_train_to_image_log)
        
        # create image_to_map_log
        create_table(conn, sql_create_image_to_map_log)
    else:
        print("Error! cannot create the database connection.")

In [146]:
#Create database

main()

In [ ]:
#Look at all tables
con = sqlite3.connect('active_learning_20191210.db')
cursor = con.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

In [147]:
#List images in train or assets

image_filenames = os.listdir("../data/train/image")
print(image_filenames[0])

031966_Site8_t01_115.npy

In [148]:
#Add images in train and assets to image log

con = sqlite3.connect("active_learning_20191210.db")
cur = con.cursor()

now = datetime.now()
cur_date = str(now.year) + '_' + str(now.month) + '_' + str(
            now.day) + '_' + str(now.hour) + '_' + str(now.minute)

for filename in image_filenames:
    
    #file_path is relative to app.py!!!
    image_path = "data/train/image/" + filename
    image_log_entry = (image_path, cur_date)
    cur.execute('INSERT INTO image_log (file_path, time_uploaded) VALUES' + str(image_log_entry))
    image_id = cur.lastrowid
    
    map_path = "data/train/label/" + filename
    #Image and its corresponding lable have the same file_path/filename
    map_log_entry = (map_path, cur_date, False)
    cur.execute('INSERT INTO map_log (file_path, time_created, is_manual) VALUES' + str(map_log_entry))
    map_id = cur.lastrowid
    
    #Update image-to-map log 
    cur.execute('INSERT INTO image_to_map_log (image_id, map_id) VALUES' + str((image_id, map_id)))
                
con.commit()
con.close()

In [149]:
# Check if entries were added correctly
# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect("active_learning_20191210.db")
img_df = pd.read_sql_query("SELECT * from image_log", con)

# Verify that result of SQL query is stored in the dataframe
print(img_df)

index = img_df[img_df['image_id'] == 37].index.values.astype(int)[0]
print(index)
print(img_df.iloc[index]['file_path'])

con.close()

     image_id                                  file_path    time_uploaded
0           1  data/train/image/031966_Site8_t01_115.npy  2020_2_19_11_57
1           2   data/train/image/031914_Site5_t01_81.npy  2020_2_19_11_57
2           3   data/train/image/031812_Site1_t01_75.npy  2020_2_19_11_57
3           4  data/train/image/031948_Site8_t02_113.npy  2020_2_19_11_57
4           5   data/train/image/031950_Site8_t02_39.npy  2020_2_19_11_57
..        ...                                        ...              ...
674       675   data/train/image/031962_Site8_t01_40.npy  2020_2_19_11_57
675       676   data/train/image/031785_Site1_t01_70.npy  2020_2_19_11_57
676       677  data/train/image/031981_Site9_t01_106.npy  2020_2_19_11_57
677       678   data/train/image/031974_Site9_t01_91.npy  2020_2_19_11_57
678       679   data/train/image/031858_Site3_t01_95.npy  2020_2_19_11_57

[679 rows x 3 columns]
36
data/train/image/031904_Site5_t01_86.npy

In [150]:
print(len(img_df))

679

In [151]:
con = sqlite3.connect("active_learning_20191210.db")
map_df = pd.read_sql_query("SELECT * from map_log", con)

# Verify that result of SQL query is stored in the dataframe
print(map_df)

con.close()

     map_id                                  file_path     time_created  \
0         1  data/train/label/031966_Site8_t01_115.npy  2020_2_19_11_57
1         2   data/train/label/031914_Site5_t01_81.npy  2020_2_19_11_57
2         3   data/train/label/031812_Site1_t01_75.npy  2020_2_19_11_57
3         4  data/train/label/031948_Site8_t02_113.npy  2020_2_19_11_57
4         5   data/train/label/031950_Site8_t02_39.npy  2020_2_19_11_57
..      ...                                        ...              ...
674     675   data/train/label/031962_Site8_t01_40.npy  2020_2_19_11_57
675     676   data/train/label/031785_Site1_t01_70.npy  2020_2_19_11_57
676     677  data/train/label/031981_Site9_t01_106.npy  2020_2_19_11_57
677     678   data/train/label/031974_Site9_t01_91.npy  2020_2_19_11_57
678     679   data/train/label/031858_Site3_t01_95.npy  2020_2_19_11_57

     is_manual
0            0
1            0
2            0
3            0
4            0
..         ...
674          0
675          0
676          0
677          0
678          0

[679 rows x 4 columns]

In [152]:
con = sqlite3.connect("active_learning_20191210.db")
df = pd.read_sql_query("SELECT * from image_to_map_log", con)

# Verify that result of SQL query is stored in the dataframe
print(df)

con.close()

     entry_id  image_id  map_id
0           1         1       1
1           2         2       2
2           3         3       3
3           4         4       4
4           5         5       5
..        ...       ...     ...
674       675       675     675
675       676       676     676
676       677       677     677
677       678       678     678
678       679       679     679

[679 rows x 3 columns]

In [153]:
# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect("active_learning_20191210.db")
df = pd.read_sql_query("SELECT * from training_log", con)

# Verify that result of SQL query is stored in the dataframe
print(df.head())

con.close()

Empty DataFrame
Columns: [training_id, training_time, file_path, from_scratch]
Index: []

In [99]:
con = sqlite3.connect("active_learning_20191210.db")

df = pd.read_sql_query("SELECT * from train_to_image_log", con)

# Verify that result of SQL query is stored in the dataframe
print(df)

con.close()

Empty DataFrame
Columns: [entry_id, image_id, training_id]
Index: []

[('training_log',), ('image_log',), ('map_log',), ('train_to_image_log',), ('image_to_map_log',)]

## Input into tables

In [77]:
#Function to prep the columns for the SQL query
def prep_cols(cols):
    
    #init string
    final_str = ''
    
    #loop through columns and construct string
    for i in cols:
        final_str = final_str + i + ','
        
    #return
    return final_str[:-1]

In [86]:
def create_entry(conn, table_name, task):
    """
    Create a new entry
    :param conn:
    :param task:
    :return:
    """
    
    #Read in table
    df = pd.read_sql_query("SELECT * from " + db_name + " ", conn)

    #get list of columns
    columns = list(df.columns)

    #Construct sql query
    sql = ' INSERT INTO ' + db_name + '(' + prep_cols(columns) + ')'  + ' VALUES(?, ?, ?, ?) '

#     sql = ''' INSERT INTO training_log(training_id, training_time, file_path, from_scratch) VALUES(?, ?, ?, ?) '''

    #execute
    cur = conn.cursor()
    cur.execute(sql, task)
    return cur.lastrowid


def main():
    
    #Database name
    database = "active_learning_20191210.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn:
        
        # Specific table and inputs
        table_name = 'training_log'
        task_1 = ('10002', '12/10/2019', 'example/file/path', True)
 
        # create entry
        create_entry(conn, table_name, task_1)
        
    conn.close()

In [87]:
main()

In [88]:
# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect("active_learning_20191210.db")
df = pd.read_sql_query("SELECT * from training_log", con)

# Verify that result of SQL query is stored in the dataframe
print(df.head())

con.close()

   training_id training_time          file_path  from_scratch
0          100    12/10/2019  example/filt/path             1
1        10000    12/10/2019  example/file/path             1
2        10001    12/10/2019  example/file/path             1
3        10002    12/10/2019  example/file/path             1

## Delete Row

In [41]:
def deleteRecord():
    try:
        con = sqlite3.connect('active_learning_20191210.db')
        cursor = con.cursor()
        print("Connected to SQLite")

        # Deleting single record now
        sql_delete_query = """DELETE from training_log where training_id = 0"""
        cursor.execute(sql_delete_query)
        con.commit()
        print("Record deleted successfully ")
        cursor.close()

    except sqlite3.Error as error:
        print("Failed to delete record from sqlite table", error)
    finally:
        if (con):
            con.close()
            print("the sqlite connection is closed")

deleteRecord()

Connected to SQLite
Record deleted successfully
the sqlite connection is closed

In [42]:
# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect("active_learning_20191210.db")
df = pd.read_sql_query("SELECT * from training_log", con)

# Verify that result of SQL query is stored in the dataframe
print(df.head())

con.close()

   training_id training_time          file_path  from_scratch
0          100    12/10/2019  example/filt/path             1
1        10000    12/10/2019  example/file/path             1